@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(bgm2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    color: #bfdeb1;
    font-family: 'Fira Sans', sans-serif;
    ;
}

form {
    margin: 0 auto;
    min-width: 50vw;
    max-width: 600px;
    padding-bottom: 30px;

}

form,
h1,
p {
    background-color: #1c4974d5;
}

h1,
p {
    margin: 0 auto;
    padding: 35px 0;
    text-align: center;
    min-width: 50vw;
    max-width: 600px;
}

p {
    margin-bottom: 25px;
}


h3 {
    margin: 0;
    padding-bottom: 20px;
}

fieldset {
    margin: 0 auto;
    padding: 20px;
    border: none;
}

hr {
    width: 90%;
    min-height: 3px;
    background-color: #4c8f88;
    opacity: 90%;
    border-radius: 10px;
    border: 1px solid #4c8f88;
}

p {
    padding-top: 0px;
}

h1 {
    padding-bottom: 5px;
}

input,
select {
    min-height: 2em;
}

input,
select,
textarea {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #bfdeb1d5;
    color: #1c4974;
    border: 1px solid #bfdeb1;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

input[type="submit"] {
    width: 60%;
    display: block;
    margin: 1em auto;
    min-height: 2em;
    background-color: #bfdeb1d5;
    color: #1c4974;
}

::placeholder {
    color: #1c4974;
}